.snipcart-item-line{
    background-color: #e4def9;
}
.snipcart-cart__secondary-header{
    background-color: #9F93CB;
}
.snipcart-cart-summary-side .snipcart-cart__content{
    background-color: #9F93CB;
}
.snipcart-item-line__media img{
border-radius: 50%;

}
.snipcart-button-primary{
    background-color: #9F93CB;
}
.snipcart-button-link{
    color: black;
}
.snipcart__icon{
    background-color: #9F93CB;
    color: black;
}
button.snipcart-button-icon-is-danger{
    background-color: #9F93CB;
}
.snipcart-button-icon.is-danger{
    background-color: #9F93CB;
}
.snipcart * {
    font-weight: bold;
    font-size: 18px;
    line-height: initial;
}